<div id="comment-<%= comment.id %>">
  <p style="align-items: start"><strong style="margin-right: 8px;"><%= comment.user.username %>:</strong><%= comment.content %></p>

  <% Rails.logger.debug "Rendering Comment ID: #{comment.id}, Current User: #{user&.id}, Comment User: #{comment.user.id}" %>

  <div class="comment-time-delete">
    <div class="comment-time-info">
      <p class="mb-0"><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
    </div>
    <%# message.created_at.strftime("%a %b %e at %l:%M %p") %>
    <div class="comment-delete-button">
      <% if comment.user == user %>
        <%= button_to 'X', [comment.review.cinema, comment.review, comment],
                          method: :delete, 
                          class: 'btn btn-danger btn-sm ms-2' %>
      <% end %>
    </div>
  </div>
</div>
