<div class="comment" id="comment-<%= comment.id %>">
  <p><strong><%= comment.user.username %>:</strong> <%= comment.content %></p>
  <p><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>

  <% if comment.user == user %>
    <%# || current_user.admin? %>
    <%= button_to 'Delete', [comment.review.cinema, comment.review, comment], method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>