<div class="container">
  <div class="row">
    <div class="col">
      <div class="logo-title">
        <div class="header-logo">
          <%#= link_to root_path do %>
            <h1>Seated</h1>
            <%= image_tag "seated-chair-no-background.png", alt:"Logo Seat", class: "header-logo-seat"%>
          <%# end, class: 'header-logo-link' %>
        </div>
      </div>
      <div class="login-form">
        <h2>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: "btn btn-gradient" %>
          </div>
        <% end %>
        <p></p>
        <%= render "devise/shared/links" %>
        <p></p>
        <p></p>
        <%= link_to "Back to home page", root_path, class: "auth-links" %>
      </div> 
    </div>
  </div>
</div>