<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="favourite-index-content">

          <h1>Your Favourites</h1>
          
          <div class="favourite-cinema-cards">
            <div class="home-top-picks">
              <% @favourites.each do |favourite| %>
                  
                  <div class="top-pick-card">
                    <img src="<%= favourite.cinema.image_url %>" />
                    <div class="top-pick-details">
                      <div class="favourite-name-delete">
                        <h4> <%= favourite.cinema.name %> </h4>
                        <%= link_to '<i class="fa-solid fa-x"></i>'.html_safe, favourites_path, method: :delete, class: "delete-icon" %>
                      </div>
                      <p> <%= favourite.cinema.address %> </p>
                      <p> Average rating: <%= favourite.cinema.average_rating.present? ? favourite.cinema.average_rating.round(1) : 'No reviews yet' %> </p>
                    </div>
                  </div>
                
              <% end %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>