<div class="home-banner">
  <div class="home-banner-text">
    <h1>We can all be <span class="seated-banner-text">Seated</span></h1>
    <%= link_to "All cinemas", cinemas_path %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="home-search">
        <h1> Near you </h1>
        <%= form_tag cinemas_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              placeholder: "Where are you off to?" %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>

      <%# <div class="home-login"> %>
        <%# <% if user_signed_in? %>
          <%# <p>Welcome, <%= current_user.username !</p>
          <%# <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <%# <% else %>
          <%# <div class="home-login-btn"> %>
            <%# <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
          <%# </div> %>
          <%# <div class="home-signup-btn"> %>
            <%# <p>Don't have an account?</p> %>
            <%# <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
          <%# </div> %>
        <%# <% end %>
      <%# </div> %>

      <div class="home-about">
        <h1><strong>Our Mission</strong></h1>
        <%# <h2><strong>Our Community</strong></h2> %>
          <p>Seated is powered by a passionate community of movie lovers who share their seating experiences.
             Our mission is driven by you.</p>
          <p>By sharing your seat reviews and experiences, you help others find the perfect spot in every cinema.</p>
          <p>We believe in transparency, community, and empowering moviegoers with real user feedback.</p>
          <p>Seated is built on sharing honest reviews and tips that help everyone have a better cinema experience.</p>
          <p>Join us and never settle for a bad seat again.</p>
      </div>

    </div>
  </div>
</div>

<%# Add the necessary JavaScript libraries for the map %>
<%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap", async: true, defer: true %>
<%# <%= javascript_include_tag "map"  %>
