<div class="home-banner">
  <div class="home-banner-text">
    <h1>Welcome to <strong>Seated</strong>!</h1>
    <%= link_to "All cinemas", cinemas_path %>
  </div>    
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="home-search">
        <h1> Near you </h1>
        <%= form_tag cinemas_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              placeholder: "Where are you off to?"%>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div id="map" class="home-map">
        <%= image_tag "temp-maps.jpg"%>
      </div>

      <div class="home-about">
        <h1>About us</h1>
        <p>
          Seated is your go-to app for cinema seat reviews. Whether you're looking for the best spot in the house or want to avoid a bad seat, Seated has got you covered. Read reviews from fellow moviegoers, leave your own, and engage with the community through comments and votes. Our mission is to enhance your movie-watching experience by ensuring you always find the perfect seat.
        </p>
        <p>
          Join our community of cinema enthusiasts and never settle for a subpar seat again. With Seated, every seat is just a review away.
        </p>
      </div>

    </div>
  </div>
</div>

<%# Add the necessary JavaScript libraries for the map %>
<%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap", async: true, defer: true %>
<%# <%= javascript_include_tag "map"  %>
