<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="profile-contents">

          <div class="profile-top">
            <div class="profile-image-name">
              <div class="profile-image">
                <% if current_user.profile_picture.attached? %>
                  <%= cl_image_tag current_user.profile_picture.key, class: "profile-picture" %>
                <% else %>
                  <%= image_tag "profile-icon.jpg", alt: "Profile image", class: "profile-pic" %>
                <% end %>
              </div>

              <div class="profile-username">
                <h2> <%= current_user.username %> </h2>
              </div>
            </div>

              <div class="profile-actions">
                
                <%= link_to edit_user_registration_path, class: "edit-profile" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>

                <% if user_signed_in? %>
                  <%= link_to destroy_user_session_path, method: :delete, class: "log-out" do %>
                    <i class="fa-solid fa-right-from-bracket"></i>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>

          <div class="profile-bio">
            <div>
              <p> Bio: </p>
            </div>
            <div class="profile-bio-edit">
              <%= current_user.bio %>
            </div>
          </div>

          <div class="profile-top-picks">
            <h2>Your top rated</h2>

            <% if @top_cinemas.any? %>
              <% @top_cinemas.each do |cinema| %>
                <%= link_to cinema_path(cinema), class: "top-pick-card" do %>
                  <img src="<%= cinema.image_url %>" />
                  <div class="top-pick-details">
                    <h4><%= cinema.name %></h4>
                    <p><%= cinema.address %></p>
                    <p>Average rating: <%= cinema.avg_rating.present? ? cinema.avg_rating.round(2) : 'No reviews yet' %></p>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p>You haven't reviewed any cinemas yet.</p>
            <% end %>
          </div>

          <div class="cinema-review-cards">
            <h3> Your reviews </h3>
            <% current_user.reviews.order(created_at: :desc).each do |review| %>
                <%= link_to render(partial: 'cinemas/review', locals: { review: review, cinema: review.cinema }), cinema_path(review.cinema) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class="home-login"> %>
  <%# <% if user_signed_in? %>
    <%# <p>Welcome, <%= current_user.username !</p>
    <%# <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <%# <% else %>
    <%# <div class="home-login-btn"> %>
      <%# <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
    <%# </div> %>
    <%# <div class="home-signup-btn"> %>
      <%# <p>Don't have an account?</p> %>
      <%# <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
    <%# </div> %>
  <%# <% end %>
<%# </div> %>
