<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="profile-contents">

          <div class="profile-top">
            <div class="profile-image-name">
              <div class="profile-image">
                <% if current_user.profile_picture.attached? %>
                  <%= cl_image_tag current_user.profile_picture.key, class: "profile-picture" %>
                <% else %>
                  <%= image_tag "profile-icon.jpg", alt: "Profile image", class: "profile-pic" %>
                <% end %>
              </div>

              <div class="profile-username">
                <h2> <%= current_user.username %> </h2>
              </div>
            </div>

            <div class="profile-actions">
              
              <%= link_to edit_user_registration_path, class: "edit-profile" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>

              <%= button_to destroy_user_session_path, method: :delete, class: "log-out" do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </div>

          </div>
          
          <div class="profile-bio">
            <div>
              <p> Bio: </p>
            </div>
            <div class="profile-bio-edit">
              <%= current_user.bio %>
            </div>
          </div>

          <%= render partial: 'cinemas/top_picks', locals: {
            container_class: 'profile-top-picks',
            heading: 'Your top rated',
            cinemas: @user_top_cinemas
          } %>

          <div class="profile-past-reviews">
            
            <h2> Your reviews </h2>

            <div class="review-filters">
              <%= form_with(url: profile_path, method: :get, local: false, data: { turbo_frame: "reviews" }, class: "filter-form") do |f| %>
                <%= f.label :filter, "Filter:" %>
                <%= f.select :filter, options_for_select([
                    ["Newest - oldest", "date_newest"],
                    ["Oldest - newest", "date_oldest"],
                    ["Rating: high - low", "rating_high_to_low"],
                    ["Rating: low - high", "rating_low_to_high"]
                  ], selected: params[:filter] || "date_newest"),
                  {}, class: "form-select d-inline-block w-auto" %>
                <%= f.submit "Apply", class: "btn btn-primary" %>
              <% end %>
            </div>

            <turbo-frame id="reviews">
              <div class="cinema-review-cards">
                <% if current_user.reviews.empty? %>
                  <p class="no-review-message">We're all waiting for it...</p>
                <% else %>
                  <% @reviews.each do |review| %>
                      <%= render partial: 'cinemas/review', locals: { review: review, cinema: review.cinema } %>
                  <% end %>
                <% end %>
              </div>
            </turbo-frame>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class="home-login"> %>
  <%# <% if user_signed_in? %>
    <%# <p>Welcome, <%= current_user.username !</p>
    <%# <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <%# <% else %>
    <%# <div class="home-login-btn"> %>
      <%# <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
    <%# </div> %>
    <%# <div class="home-signup-btn"> %>
      <%# <p>Don't have an account?</p> %>
      <%# <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
    <%# </div> %>
  <%# <% end %>
<%# </div> %>
