<div class="cinema-review-card">
  <%= link_to cinema_path(review.cinema) do %>
    <div class="review-card-user">
      <% if review.user.profile_picture.attached? %>
        <%= cl_image_tag review.user.profile_picture.key, class: "review-profile-pic" %>
      <% else %>
        <%= image_tag "profile-icon.jpg", alt: "Profile picture", class: "review-profile-pic" %>
      <% end %>
      <p><%= review.user.username %></p>
    </div>
    <div class="review-name-date">
      <p><strong><%= review.cinema.name %></strong></p>
      <p><%= review.created_at.strftime("%e/%m/%y") %></p>
    </div>
    <div class="review-screen-details">
      <p>
        <span class="review-screen-details-icon">
          <%= image_tag('cinema-screen-emoji.jpg', alt: 'Screen icon', class: 'review-icon-class') %>
        </span>
        <span class="review-form-data"><strong><%= review.screen %></strong></span>
      </p>

      <p>
        <span class="review-screen-details-icon">
          <%= image_tag('seated-emoji-original.png', alt: 'Seated icon', class: 'review-icon-class') %>
        </span>
        <span class="review-form-data"><strong><%= review.seat %></strong></span>
      </p>

      <p>
        <span class="review-screen-details-icon">
          <%= image_tag('seated-emoji-gold.png', alt: 'Seated icon gold', class: 'review-icon-class') %>
        </span>
        <span class="review-form-data"><strong><%= review.pref_seat %></strong></span>
      </p>
    </div>
  <% end %>
    <div class="review-card-content">
      <% if review.photos.attached? %>
        <div class="review-images">
          <a href="#imageModal-<%= review.id %>" data-bs-toggle="modal" data-bs-target="#imageModal-<%= review.id %>">
            <%# First photo only as the thumbnail %>
            <%= cl_image_tag review.photos.first.key, class: "img-thumbnail review-image" %>
          </a>

            <!-- Modal with a carousel for all photos -->
          <div class="modal fade" id="imageModal-<%= review.id %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= review.id %>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <!-- Bootstrap carousel for sliding between images -->
                  <div id="carousel-<%= review.id %>" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <% review.photos.each_with_index do |photo, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                          <%= cl_image_tag photo.key, class: "d-block w-100 img-fluid"  %>
                        </div>
                      <% end %>
                    </div>

                    <%# Previous/Next carousel controls. Condition - only show if more than one image %>
                    <% if review.photos.count > 1 %>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-gradient" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to cinema_path(review.cinema) do %>
        <div class="review-text">
          <p>"<%= review.content %>"</p>
        </div>
      <% end %>
    </div>

  <%= link_to cinema_path(review.cinema) do %>
    <div class="review-rating-scale">

      <div class="review-card-rating">
        <% if review.rating.present? %>
          <% rounded_rating = review.rating.floor %>
          <% partial_rating = (review.rating % 1).round(1) %>

          <% # Render the full rating images as red rating images %>
          <% rounded_rating.times do %>
            <%= image_tag 'seated-emoji.png', alt: 'Red Rating Emoji', class: 'red-rating-image' %>
          <% end %>

          <% # Render the half image as a half red rating image %>
          <% if partial_rating >= 0.5 %>
            <%= image_tag 'seated-emoji.png', alt: 'Half Red Rating Emoji', class: 'half-red-rating-image' %>
          <% end %>

          <span class="review-rating-number">(<%= review.rating.round(1) %>)</span>
        <% else %>
          <span class="review-rating-number">No rating provided</span>
        <% end %>
      </div>

    </div>
  <% end%>

  <div class="cinema-vote-comment">
    <% if user_signed_in? %>
    <div class="review-vote" id="toggle-vote-<%= review.id %>">
      <%= render 'votes/toggle_button', review: review %>
    </div>
    <%# comments %>
    <div class="review-comment">

      <p>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#commentsModal-<%= review.id %>">
          Show Comments
        </button>
        <span id="comment-count-<%= review.id %>">(<%= review.comments.count %>)</span>
        <%= turbo_stream_from "review_#{review.id}_comments" %>
      </p>

      <!-- Modal for Comments -->
      <div class="modal fade" id="commentsModal-<%= review.id %>" tabindex="-1" aria-labelledby="commentsModalLabel-<%= review.id %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="max-height: 50vh; overflow: hidden;">
            <div class="modal-header pb-0">
              <div class="modal-title" id="commentsModalLabel-<%= review.id %>">
                <h5 class="mb-1">Comments for review:</h5>
                <h6 class="text-muted">"<%= review.content %>"</h6>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">



              <%= simple_form_for [cinema, review, Comment.new], html: { class: "live-comment-form d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |form| %>
                <div class="form-floating">
                  <%= form.input :content, as: :text, label: false, placeholder: "Your Comment", input_html: { rows: 3 }, wrapper: false %>
                  <label for="<%= form.object_name %>_content">Your Comment</label>
                </div>
                <%= form.button :submit, 'Send', class: 'btn btn-primary' %>
              <% end %>

              <div id="comments-<%= review.id %>" class="comments">
                <%= render partial: 'comments/comment', collection: review.comments.order(created_at: :desc), as: :comment, locals: { user: current_user } %>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
    <%# <div class="comment-sign-in"> %>
      <% else %>
          <p><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-gradient' %>&nbsp; to vote & comment</p>
      <% end %>
    <%# </div> %>
  </div>
</div>
