<div class="cinema-review-card">
  <div class="recent-user-date">
    <% if current_user.profile_picture.attached? %>
      <%= cl_image_tag current_user.profile_picture.key, class: "review-profile-pic" %>
    <% else %>
      <%= image_tag "profile-icon.jpg", alt: "Profile picture", class: "review-profile-pic" %>
    <% end %>
    <%# <%= image_tag('profile-icon.jpg', alt: 'Profile picture', class: 'review-profile-pic')%>
    <p><%= review.user.username %></p>
  </div>
  <div class="recent-name-rating">
    <p><strong><%= review.cinema.name %></strong></p>
    <p><%= review.created_at.strftime("%e/%m/%y") %></p>
  </div>
  <div class="review-screen-details">
    <p>
      <span class="review-screen-details-icon">
        <%= image_tag('cinema-screen-emoji.jpg', alt: 'Screen icon', class: 'icon-class') %>
      </span>
      <span class="review-form-data"><strong><%= review.screen %></strong></span>
    </p>

    <p>
      <span class="review-screen-details-icon">
        <%= image_tag('seated-emoji-original.png', alt: 'Seated icon', class: 'icon-class') %>
      </span>
      <span class="review-form-data"><strong><%= review.seat %></strong></span>
    </p>

    <p>
      <span class="review-screen-details-icon">
        <%= image_tag('seated-emoji-gold.png', alt: 'Seated icon gold', class: 'icon-class') %>
      </span>
      <span class="review-form-data"><strong><%= review.pref_seat %></strong></span>
    </p>
  </div>
  <div class="review-card-content">
    <div class="review-images">
      <% if review.photos.attached? %>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <a href="#imageModal-<%= review.id %>" data-bs-toggle="modal" data-bs-target="#imageModal-<%= review.id %>">
              <%# First photo only as the thumbnail %>
              <%= cl_image_tag review.photos.first.key, height: 80, width: 80, crop: :fill, class: "img-thumbnail review-image" %>
            </a>
          </div>

          <!-- Modal with a carousel for all photos -->
          <div class="modal fade" id="imageModal-<%= review.id %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= review.id %>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <!-- Bootstrap carousel for sliding between images -->
                  <div id="carousel-<%= review.id %>" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <% review.photos.each_with_index do |photo, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                          <%= cl_image_tag photo.key, class: "d-block w-100 img-fluid"  %>
                        </div>
                      <% end %>
                    </div>

                    <%# Previous/Next carousel controls. Condition - only show if more than one image %>
                    <% if review.photos.count > 1 %>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-gradient" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <p>"<%= review.content %>"</p>
  </div>
  <div class="review-card-rating">
    <%# <p>Rating: <span class="review-form-data"><strong> %>
      <%#= review.rating %>
      <%# </strong></span>/5</p> %>

      <div class="review-card-rating">
        <% if review.rating.present? %>
          <% rounded_rating = review.rating.floor %>
          <% partial_rating = (review.rating % 1).round(1) %>

          <% # Render the full rating images as red rating images %>
          <% rounded_rating.times do %>
            <%= image_tag 'seated-emoji.png', alt: 'Red Rating Emoji', class: 'red-rating-image' %>
          <% end %>

          <% # Render the half image as a half red rating image %>
          <% if partial_rating >= 0.5 %>
            <%= image_tag 'seated-emoji.png', alt: 'Half Red Rating Emoji', class: 'half-red-rating-image' %>
          <% end %>

          <span class="review-rating-number">(<%= review.rating.round(1) %>/5)</span>
        <% else %>
          <span class="review-rating-number">No rating provided</span>
        <% end %>
      </div>

  </div>

  <div class="cinema-vote-comment">
    <div class="review-vote" data-controller="vote">
      <div class="review-vote-arrow">
        <% if current_user.votes.exists?(review: review) %>
          <%= form_with url: cinema_review_vote_path(cinema, review, review.votes.find_by(user: current_user)),
                  method: :delete, class: 'button_to',
                  data: { action: "submit->vote#submitVote", vote_target: "voteButton" }, local: false do %>
            <button class="vote-button-down" type="submit"><i class="fa-solid fa-thumbs-up"></i></button>
          <% end %>
        <% else %>
          <%= form_with url: cinema_review_votes_path(cinema, review),
                  method: :post, class: 'button_to',
                  data: { action: "submit->vote#submitVote", vote_target: "voteButton" }, local: false do %>
            <button class="vote-button-up" type="submit"><i class="fa-regular fa-thumbs-up"></i></button>
          <% end %>
        <% end %>
      </div>
      <div class="review-vote-count">
        <p data-vote-target="voteCount"> <strong>(<%= review.votes.count %>)</strong> </p>
      </div>

    </div>
    <%# comments %>
    <div class="review-comment" data-controller="comments">
      <div id="comments-list-<%= review.id %>">
        <h3>
          <button class="btn btn-link toggle-comments" data-action="click->comments#toggle" data-comments-target="toggleButton">
            Show Comments
          </button>
          <% total_comments = current_user.reviews.joins(:comments).count('comments.id') %>
          <%# <h6><span>(<%= total_comments)</span></h6> %>
        </h3>
        <%= turbo_stream_from "review_#{review.id}_comments" %>

        <div id="comments-<%= review.id %>" class="comments hidden" data-comments-target="commentsSection">
          <%= render partial: 'comments/comment', collection: review.comments, as: :comment, locals: { user: current_user } %>



          <%= simple_form_for [cinema, review, Comment.new],
              html: { class: "d-flex", data: { controller: "reset-form",
              action: "turbo:submit-end->reset-form#reset" } } do |form| %>
            <div class="form-floating">
              <%= form.input :content, as: :text,
                              label: false,
                              placeholder: "Your Comment",
                              input_html: { rows: 3 }, wrapper: false %>
              <label for="<%= form.object_name %>_content">Your Comment</label>
            </div>
              <%= form.button :submit, 'Send', class: 'btn btn-primary' %>

          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>
