<div class="cinema-review-card">
  <div class="recent-user-date">
    <p><%= review.user.username %></p>
    <p><%= review.created_at.strftime("%B %d, %Y") %></p>
  </div>
  <div class="recent-name-rating">
    <p><strong><%= review.cinema.name %></strong></p>
    <div class="review-card-rating">
      <p>Rating: <span class="review-form-data"><strong><%= review.rating %></strong></span>/5</p>
    </div>
  </div>
  <div class="review-screen-details">
    <p>Screen: <span class="review-form-data"><strong><%= review.screen %></strong></span></p>
    <p>Seat: <span class="review-form-data"><strong><%= review.seat %></strong></span></p>
    <p>Best seat: <span class="review-form-data"><strong><%= review.pref_seat %></strong></span></p>
  </div>
  <div class="review-card-content">
    <p>"<%= review.content %>"</p>
  </div>

  <div class="review-images">
    <% if review.photos.attached? %>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <a href="#imageModal-<%= review.id %>" data-bs-toggle="modal" data-bs-target="#imageModal-<%= review.id %>">
            <%# First photo only as the thumbnail %>
            <%= cl_image_tag review.photos.first.key, height: 70, width: 90, crop: :fill, class: "img-thumbnail review-image" %>
          </a>
        </div>

        <!-- Modal with a carousel for all photos -->
        <div class="modal fade" id="imageModal-<%= review.id %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= review.id %>" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <!-- Bootstrap carousel for sliding between images -->
                <div id="carousel-<%= review.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% review.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%= 'active' if index == 0 %>">
                        <%= cl_image_tag photo.key, class: "d-block w-100 img-fluid"  %>
                      </div>
                    <% end %>
                  </div>

                  <%# Previous/Next carousel controls. Condition - only show if more than one image %>
                  <% if review.photos.count > 1 %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= review.id %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-gradient" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
