<div>
  <h1>Cinemas in  your city</h1>
  <div class="cinema-card">
    <% @cinemas.each do |cinema|%>
      <h2><%= cinema.name %></h2>
      <h5><%= cinema.address %></h5>
      <div class="cinema-img">
        <img src="<%= cinema.image_url %>" alt="<%= cinema.name%>" width=300px>
      </div>
      <div class="cinema-p">
        <p><%= cinema.description %></p>
        <p> Rating: <%= cinema.average_rating %></p>
      </div>
      <hr>
    <% end %>
  </div>

</div>
