<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="home-contents">
          <div class="cinema-show-card">

            <h1> <%= @cinema.name %> </h1>
            <p> <%= @cinema.address %> </p>
            <img src="<%= @cinema.image_url %>" alt="<%= @cinema.name %>">

            <div data-controller="favourite" class="cinema-show-links">

              <div class="show-add-favourite">

                <p class="review-new-btn">
                  <%= link_to "Add review", new_cinema_review_path(@cinema), class: 'review-new-btn' %>
                </p>

                <div id="toggle-favourite-<%= @cinema.id %>">
                  <%= render 'favourites/toggle_button', cinema: @cinema %>
                </div>

              </div>

              <div class="cinema-back-rating">
                <div class="show-back-btn">
                  <%= link_to "↩ All cinemas", cinemas_path %>
                </div>
                <div class="cinema-show-average">
                  <div class="cinema-average-rating">
                    <% if @cinema.average_rating.present? %>
                      <% rounded_rating = @cinema.average_rating.floor %>
                      <% partial_rating = (@cinema.average_rating % 1).round(1) %>

                      <% # Render the full rating images as red rating images %>
                      <% rounded_rating.times do %>
                        <%= image_tag 'seated-emoji.png', alt: 'Red Rating Emoji', class: 'red-rating-image' %>
                      <% end %>

                      <% # Render the half image as a half red rating image %>
                      <% if partial_rating >= 0.5 %>
                        <%= image_tag 'seated-emoji.png', alt: 'Half Red Rating Emoji', class: 'half-red-rating-image' %>
                      <% end %>

                      <span class="average-rating-number">(<%= @cinema.average_rating.round(1) %>)</span>
                    <% else %>
                      <span class="average-rating-number">No reviews yet</span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cinema-review-cards">
            <h2> Our community </h2>

            <div class="review-filters">
              <%= form_with(url: cinema_path(@cinema), method: :get, local: false, data: { turbo_frame: "reviews" }, class: "filter-form") do |f| %>
                <%= f.label :filter, "Filter:" %>
                <%= f.select :filter, options_for_select([
                    ["Newest - oldest", "date_newest"],
                    ["Oldest - newest", "date_oldest"],
                    ["Rating: high - low", "rating_high_to_low"],
                    ["Rating: low - high", "rating_low_to_high"]
                  ], selected: params[:filter] || "date_newest"),
                  {}, class: "form-select d-inline-block w-auto" %>
                <%= f.submit "Apply", class: "btn btn-primary" %>
              <% end %>
            </div>

            <turbo-frame id="reviews">
              <% @reviews.each do |review| %>
                  <%= render partial: 'cinemas/review', locals: { review: review, cinema: @cinema } %>
              <% end %>
            </turbo-frame>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
