<div class="cinema-index-background">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cinema-show-card">

          <h1> <%= @cinema.name %> </h1>
          <img src="<%= @cinema.image_url %>" alt="<%= @cinema.name %>">

          <div data-controller="favourite" class="cinema-show-links">

            <div class="show-add-favourite">

              <p class="review-new-btn">
                <%= link_to "Add review", new_cinema_review_path(@cinema), class: 'review-new-btn' %>
              </p>

              <% if current_user.favourites.exists?(cinema: @cinema) %>
                <%= button_to cinema_favourite_path(@cinema, current_user.favourites.find_by(cinema: @cinema), show:true), method: :delete, data: { action: "favourite#toggle" }, class: 'favourite-toggle-form' do %>
                  <i data-favourite-target="star" class="fa-solid fa-star favourite-toggle-btn active"></i>
                <% end %>
              <% else %>
                <%= button_to cinema_favourites_path(@cinema), method: :post, remote: true, data: { action: "favourite#toggle" }, class: 'favourite-toggle-form' do %>
                  <i data-favourite-target="star" class="fa-regular fa-star favourite-toggle-btn"></i>
                <% end %>
              <% end %>

            </div>

            <div class="cinema-back-rating">
              <div class="show-back-btn">
                <%= link_to "Back", request.referer || cinemas_path %>
              </div>
              <div class="cinema-show-average">
                <%# <p> Average rating:  %>
                  <%#= @cinema.average_rating.present? ? @cinema.average_rating.round(1) : 'No reviews yet' %>
                  <%# </p> %>
                <div class="cinema-average-rating">
                  <% if @cinema.average_rating.present? %>
                    <% rounded_rating = @cinema.average_rating.floor %>
                    <% partial_rating = (@cinema.average_rating % 1).round(1) %>

                    <% # Render the full rating images as red rating images %>
                    <% rounded_rating.times do %>
                      <%= image_tag 'seated-emoji.png', alt: 'Red Rating Emoji', class: 'red-rating-image' %>
                    <% end %>

                    <% # Render the half image as a half red rating image %>
                    <% if partial_rating >= 0.5 %>
                      <%= image_tag 'seated-emoji.png', alt: 'Half Red Rating Emoji', class: 'half-red-rating-image' %>
                    <% end %>

                    <span class="average-rating-number">(<%= @cinema.average_rating.round(1) %>)</span>
                  <% else %>
                    <span class="average-rating-number">No reviews yet</span>
                  <% end %>
                </div>


              </div>

            </div>

          </div>

        </div>

        <div class="cinema-review-cards">
          <h2> Our community </h2>

          <% @reviews.each do |review| %>
              <%= render partial: 'cinemas/review', locals: { review: review, cinema: @cinema } %>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
