<div class="container">
  <div class="row">
    <div class="col">

      <div class="cinema-show-card">
        <h1> <%= @cinema.name %> </h1>
        <img src="<%= @cinema.image_url %>" alt="<%= @cinema.name %>">

        <div data-controller="favourite" class="cinema-show-links">

          <div class="show-add-favourite">
            <p class="review-new-btn">
              <%= link_to "Add review", new_cinema_review_path(@cinema), class: 'review-new-btn' %>
            </p>
            <% if current_user.favourites.exists?(cinema: @cinema) %>
              <%= button_to cinema_favourite_path(@cinema, current_user.favourites.find_by(cinema: @cinema)), method: :delete, data: { action: "favourite#toggle" }, class: 'favourite-toggle-form' do %>
                <i data-favourite-target="star" class="fa-solid fa-star favourite-toggle-btn active"></i>
              <% end %>
            <% else %>
              <%= button_to cinema_favourites_path(@cinema), method: :post, remote: true, data: { action: "favourite#toggle" }, class: 'favourite-toggle-form' do %>
                <i data-favourite-target="star" class="fa-regular fa-star favourite-toggle-btn"></i>
              <% end %>
            <% end %>
          </div>
          <div class="show-back-btn">
            <%= link_to "Back to results", request.referer || cinemas_path %>
          </div>

        </div>

      </div>
      <div class="cinema-review-cards">
        <h2> Our community </h2>
        <% @cinema.reviews.each do |review| %>
          <div class="cinema-review-card">
            <p> <%= review.user.username %> </p>
            <div class="review-screen-details">
              <p> Screen: <%= review.screen %> </p>
              <p> Seat: <%= review.seat %> </p>
              <p> Best seat: <%= review.pref_seat %> </p>
            </div>
            <p> "<%= review.content %>" </p>
            <%# add in photo uploads here %>
            <div class="review-card-rating">
              <p> Rating: <%= review.rating %>/5 </p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
